/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Colors
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*
#e98e51, burnt sienna, main color;
#ff4500, accessible alternative to main color;

#f4f3ed, pampas, light shade;
#3f5250, mineral green, dark shade;

#9fa4a7, gray chateau, light accent;
#a17952, limed oak, dark accent;
*/


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  General
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body {
  background-color: #f4f3ed;
  color: #3f5250;
}

a {
  /* More accessible (higher contrast) color for links. */
  color: #ff4500;
}

.bg-custom {
  /* Use this instead of .bg-primary to avoid unwanted behavior. */
  background-color: #3f5250;
}

.navbar-dark,
.navbar-brand,
.navbar-nav a {
  color: #f4f3ed;
}

.jumbotron {
  background-color: #e98e51;
  color: #f4f3ed;
}

.btn {
  /* Ease of use */
  padding: 2rem;
}

.btn-dark {
  background-color: #3f5250;
  color: #f4f3ed;
  border-color: #3f5250;
}

.nav-link {
  /* Ease of use */
  padding: 1rem 5rem;
}

.nav-item {
  /* Ease of use */
  border-bottom: solid 1px #3f5250;
}

.nav-item:last-child {
  /* Ease of use */
  border-bottom: 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  index.html
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.carousel {
  /* Match margin of surrounding content. */
  margin-bottom: 1rem;
}

.carousel img {
  /* Prevent image from clipping beyond right side of viewport. */
  width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  adopt.html
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.appQuestion {
  /* To be overriden in app.js */
  display: none;
}

.card,
.list-group-item {
  background-color: #f4f3ed;
}


/* ------------------------------
  Media Queries
------------------------------ */

@media (min-width: 768px) {
  .btn {
    padding: 6px 12px;
  }

  .nav-link {
    padding: .5rem 1rem;
  }

  .nav-item {
    border-bottom: 0;
  }

  .carousel img {
    /* Allow default behavior at intermediate resolutions. */
    width: auto;
  }

}

@media (min-width: 2048px) {
  .carousel img {
    /* Stretch image at xl resolutions. */
    width: 100%;
  }
}
