.appQuestion {
  display: none;
} /* To be overriden in app.js */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  COLORS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*
#e98e51, burnt sienna, main color;
#ff4500, accessible alternative to main color;

#f4f3ed, pampas, light shade;
#3f5250, mineral green, dark shade;

#9fa4a7, gray chateau, light accent;
#a17952, limed oak, dark accent;

:root {
  --primary: #e98e51;
  --info: #3f5250;
  --success: #7ba550;
  --warning: #f89518;
  --danger: #f44336;
}

*/


#override {
  background-color: #f4f3ed;
  color: #3f5250;
}

#override a {
  color: #ff4500;
}

#override .bg-primary {
  background-color: #3f5250 !important;
}

#override .navbar-dark,
#override .navbar-brand,
#override .navbar-nav a {
  color: #f4f3ed;
}

#override .jumbotron {
  background-color: #ff4500;
  color: #f4f3ed;
}

#override .btn-dark {
  background-color: #3f5250;
  color: #f4f3ed;
  border-color: #3f5250;
}

#override .card,
#override .list-group-item {
  background-color: #f4f3ed;
}